@tailwind base;
@tailwind components;
@tailwind utilities;

.fancy-button {
    background-color: red;
    color: #fff;
  
    font-size: 1rem;
    padding:  0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0 0 1rem #0000002a;
  }
  
  .fancy-button-text-container {
    position: relative;
    display: flex;
   overflow: hidden;
  }
  
  .fancy-button-char-container {
  position: relative;
  }
  
  .fancy-button-char-container span {
    display: inline-block;
    white-space: pre;
    transition-property: transform;
    transition-duration: 0.5s;
  }
  
  .fancy-button-char-container span:last-child {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
  }
  
  body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
  }
  
  .hoverText{
    display: inline-block;
    font-size: 5rem;
  }
  

  html {  scroll-behavior: smooth;}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

strong,
.primary-color {
  background-image: linear-gradient(to right, #0015d3, #2090ac, #6dff5d);
  -webkit-background-clip: text;
  color: transparent;
}

.glass{
  background: linear-gradient(135deg, rgba(55, 55, 55, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(5px);
  border-radius: 5px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

header {
  position: sticky;
  top: 0;
  background-color: white;
  transition: transform 0.3s ease-in-out;
  z-index: 1000; /* Ensure the header is above other content */
}

.hidden-header {
  transform: translateY(-100%);
}

